<form class="form-body" #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
<h1 class="h3 mb-3 font-weight-normal">
  <span>Sign In</span>
</h1>
<div *ngIf="isLoginError" class="red-text center error-message">
  <i class="material-icons">error</i> Incorrect username or password
</div>
<div class="form-signin"  >
  <div class="text-center mb-8">
  </div>

  <div class="form-label-group">
    <input type="text" id="inputUserName" class="form-control" placeholder="Username" #UserName ngModel name="UserName" required autofocus>
    <label for="inputUserName">Username</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" #Password ngModel name="Password" required>
    <label for="inputPassword">Password</label>
  </div>


</div>
<div class="container bottom-wrapper">
  <div class="row justify-content-start bottom-form">
    <div class="col-8 to-signup">
      <a routerLink="/signup">need an account?</a>
    </div>
    <div class="col-4  ">
      <button [disabled]="!loginForm.valid" class="btn btn-block btn-submit" type="submit">Sign In</button>
    </div>
  </div>
</div>
</form>